@media (max-width: 375px) {
    .container-article-preview {
        flex-direction: column;
        width: 90%;
        height: auto;
    }

    .image img {
        width: 100%;
        height: auto;
        border-radius: 5px 5px 0 0;
    }

    .container-info {
        padding: 20px;
        text-align: left;
    }

    .article-title h1{
        font-size: 14px;
        padding: 5px 10px;
    }

    .article-content p{
        font-size: 12px;
        padding: 5px 10px;
    }

    .social-media {
        margin-left: 70px;
        margin-top: 10px;
    }
}
