body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--light-grayish-blue);
    font-family: "Manrope", sans-serif;
    font-size: 13px;
}

.container-article-preview{
    display: flex;
    max-width: 700px;
    min-height: 250px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.image img {
    width: 250px;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;   
}

.container-info{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.container-info .article-title{
    margin-bottom: 10px;
}

.container-info .article-content{
    margin-bottom: 15px;
    padding-right: 10px;
}

.container-info .article-content p{
    color: var(--desaturated-dark-blue);
}

.author-information{
    display: inline-flex;
    justify-content: flex-start;
}

.author-information .photo img{
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
}

.personal-information-release{
    display: block;
    margin-left: 10px;            
}

.personal-information-release p{
    width: 120px;
    font-weight: 700;
}

.personal-information-release span{
    color: var(--desaturated-dark-blue);
}

.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 170px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--light-grayish-blue);
}

.social-media img{
    width: 20px;
    height: 20px;
}


